#controls {
  width: 500px;
  display: flex;
  flex-flow: row wrap;
  background-color: black;
}

.control-selection {
  width: 80px;
  display: flex;
  flex-flow: row wrap;
}

.control-selection > div {
  width: 40px;
  height: 40px;
}

.control-selection > div:hover, .control-specifics > div > div:hover, #abutton > div:hover, #ybutton > div:hover {
  outline: 3px solid green;
  cursor: pointer;
  outline-offset: -4px;
}

.control-specifics {
  width: 420px;
  display: flex;
  flex-flow: row wrap;
}

.one-row > div {
  height: 120px;
}

.two-rows > div {
  height: 60px;
}
.three-rows > div {
  height: 40px;
}
.two-columns > div {
  width: 50%;
}
.three-columns > div {
  width: 33.333%;
}
.four-columns > div{
  width: 25%;
}
.five-columns > div{
  width: 20%;
}
.six-columns > div{
  width: 16.667%;
}
.eight-columns > div{
  width: 12.5%;
}
.ten-columns > div{
  width: 10%;
}
.ten-columns, .eight-columns, .six-columns, .four-columns, .three-columns, .two-columns, .five-columns {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

#controls div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 70%;
  image-rendering: pixelated;
  box-sizing: border-box;
}

#controls .tracking {
  filter: brightness(200%);
}

#controls .tracked {
  filter: grayscale(100%);
}

input:focus {
  outline: none;
}

input {
  background-color: transparent;
  font-family: 'ReturnofGanon';
  color: white;
  height: 2em;
  border: none;
  border-bottom: 1px solid white;
}

ul {
  padding-inline-start: 10px;
  margin: 0;
  overflow-y: scroll;
  height: 120px;
  width: 32%;
}

li {
  list-style-type: none;
}

li:hover {
  background-color: green;
}

#notes {
  width: 420px;
}

textarea {
  background-color: black;
  color: white;
  font-family: 'ReturnofGanon';
  height: 100%;
  width: 100%;
  resize: none;
  font-size: 20px;
}
